.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  /* width: 500px; */
  text-align: center;
  border-radius: 20px;
  /* height: 50%; */
  margin: 0;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgwrapper img {
  background-color: black;
  /* transform: translateY(50%); */
  display: flex;
  margin: 0 auto;
}
.topwrapper {
  padding-top: 50px;
}

.inputwrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrappersp {
  display: flex;
  margin: 0 auto;
  background-color: blue;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  height: 50%;
  margin: 0;
}

.inputboxs input {
  font-family: "Poppins", sans-serif;

  background: white;
  border-radius: 40px;
  border: 2px solid gray (255, 255, 255, 1);
  font-size: 16px;
  color: black;
  /* width: 150px; */
  height: 30px;
  padding: 13px 12px 11px 83px;
  align-items: center;
  gap: 78px;
  flex-shrink: 0;
  display: flex;
  padding: 15px 505px 17px 24px;
  align-items: center;
  align-self: stretch;
}
.inputbox input::placeholder {
  color: gray;
}
.ButtonS[type="submit"] {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: gray;
  color: white;
  border-radius: 40px;
  width: 80%;
  height: 60px;
  margin-top: 10px;
  border: 2px solid black;
}
.create-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  white-space: nowrap;
}
.forgotPassword {
  margin-right: 175px;
  color: white;
  text-decoration: none;
}
.createAccount {
  color: white;
  text-decoration: none;
}
