@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.wrapperl{
    background-color: pink;
    width: 700px;
    height: 700px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    
}
.inputboxC {
    font-family: "Poppins", sans-serif;
   
    background: white;
    border-radius: 40px;
    border: 2px solid gray (255, 255, 255, 1);
    font-size: 16px;
    color: black;
    width: 150px;
    height: 30px;
    padding: 13px 12px 11px 83px;
    align-items: center;
    gap: 78px;
    flex-shrink: 0;
    display: flex;
    padding: 15px 505px 17px 24px;
    align-items: center;
    align-self: stretch;
   
    


   
      
}
.label{
    color : white;
    align-content: flex-start;
    float: left;
    font-weight: 300;
}